{
    "printWidth": 100,
    "tabWidth": 4,
    "trailingComma": "all",
    "singleQuote": false,
    "jsxBracketSameLine": false,
    "bracketSpacing": true,
    "useTabs": false,
    "semi": true,
    "plugins": ["prettier-plugin-organize-imports"]
}
