/* Base Imports */
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));
@plugin 'tailwindcss-animate';
@plugin "tailwindcss-react-aria-components";
@plugin "@tailwindcss/typography";

/* Dark Mode Variant */
@variant dark (&:is(.dark *));

/* Theme Variables */
@theme {
    /* Font */

    --font-kopubbatang: "KoPubBatang", sans-serif;

    --font-display: var(--font-display), "ui-monospace", "SFMono-Regular", "-apple-system";
    --font-sans: var(--font-kopubbatang);

    /* Core Colors */
    --color-bg: var(--bg);
    --color-fg: var(--fg);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    /* Semantic Colors */
    --color-primary: var(--primary);
    --color-primary-fg: var(--primary-fg);
    --color-secondary: var(--secondary);
    --color-secondary-fg: var(--secondary-fg);
    --color-accent: var(--accent);
    --color-accent-fg: var(--accent-fg);

    /* Status Colors */
    --color-success: var(--success);
    --color-success-fg: var(--success-fg);
    --color-info: var(--info);
    --color-info-fg: var(--info-fg);
    --color-danger: var(--danger);
    --color-danger-fg: var(--danger-fg);
    --color-warning: var(--warning);
    --color-warning-fg: var(--warning-fg);

    /* UI Colors */
    --color-muted: var(--muted);
    --color-muted-fg: var(--muted-fg);
    --color-overlay: var(--overlay);
    --color-overlay-fg: var(--overlay-fg);
    --color-navbar: var(--navbar);
    --color-navbar-fg: var(--navbar-fg);
    --color-sidebar: var(--sidebar);
    --color-sidebar-fg: var(--sidebar-fg);

    /* Chart Colors */
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
}

/* Base Layer Styles */
@layer base {
    /* Light Theme Variables */
    :root {
        /* Core Colors */
        --bg: oklch(1 0 0);
        --fg: oklch(0.145 0 0);
        --border: oklch(0.922 0 0);
        --input: oklch(0.922 0 0);
        --ring: oklch(0.708 0 0);

        /* Semantic Colors */
        --primary: oklch(0.205 0 0);
        --primary-fg: oklch(0.985 0 0);
        --secondary: oklch(0.97 0 0);
        --secondary-fg: oklch(0.205 0 0);
        --accent: oklch(0.97 0 0);
        --accent-fg: oklch(0.205 0 0);

        /* UI Colors */
        --overlay: oklch(1 0 0);
        --overlay-fg: oklch(0.141 0.005 285.823);
        --muted: oklch(0.97 0 0);
        --muted-fg: oklch(0.556 0 0);
        --navbar: oklch(0.985 0 0);
        --navbar-fg: oklch(0.145 0 0);
        --sidebar: oklch(0.985 0 0);
        --sidebar-fg: oklch(0.145 0 0);

        /* Status Colors */
        --success: oklch(0.596 0.145 163.225);
        --success-fg: oklch(1 0 0);
        --warning: oklch(0.828 0.189 84.429);
        --warning-fg: oklch(0.279 0.077 45.635);
        --danger: oklch(0.577 0.245 27.325);
        --danger-fg: oklch(0.971 0.013 17.38);

        /* Chart Colors */
        --chart-1: oklch(0.488 0.243 264.376);
        --chart-2: oklch(0.696 0.17 162.48);
        --chart-3: oklch(0.769 0.188 70.08);
        --chart-4: oklch(0.627 0.265 303.9);
        --chart-5: oklch(0.645 0.246 16.439);

        /* Border Radius */
        --radius-lg: 0.8rem;
        --radius-xs: calc(var(--radius-lg) * 0.5);
        --radius-sm: calc(var(--radius-lg) * 0.75);
        --radius-md: calc(var(--radius-lg) * 0.9);
        --radius-xl: calc(var(--radius-lg) * 1.25);
        --radius-2xl: calc(var(--radius-lg) * 1.5);
        --radius-3xl: calc(var(--radius-lg) * 2);
        --radius-4xl: calc(var(--radius-lg) * 3);

        /* Custom Cursors */
        --f-cursor-default:
            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='18' fill='none' viewBox='0 0 24 26'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.69 2.69a2.357 2.357 0 0 1 2.495-.54L21.47 8.632a2.357 2.357 0 0 1-.255 4.494l-7.271 1.818-1.818 7.27a2.357 2.357 0 0 1-4.494.256L1.15 5.185a2.357 2.357 0 0 1 .54-2.495Z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.633 3.622A.786.786 0 0 0 2.62 4.633L9.103 21.92a.786.786 0 0 0 1.498-.086l2.047-8.185 8.185-2.046a.785.785 0 0 0 .086-1.498L3.633 3.622Z' fill='%23010101'/%3E%3C/svg%3E"),
            auto;
        --f-cursor-pointer:
            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='21' fill='none' viewBox='0 0 28 29'%3E%3Cpath fill='%23fff' d='M6.84 21.83c-.47-.6-1.05-1.82-2.07-3.34-.58-.83-2.01-2.41-2.45-3.23a2.1 2.1 0 0 1-.25-1.67 2.2 2.2 0 0 1 2.39-1.67c.85.18 1.63.6 2.25 1.2.43.41.82.85 1.18 1.32.27.34.33.47.63.85.3.39.5.77.35.2-.11-.83-.31-2.23-.6-3.48-.21-.95-.26-1.1-.46-1.82s-.32-1.32-.54-2.13c-.2-.8-.35-1.62-.46-2.44a4.7 4.7 0 0 1 .43-3.08c.58-.55 1.44-.7 2.17-.37a4.4 4.4 0 0 1 1.57 2.17c.43 1.07.72 2.19.86 3.33.27 1.67.79 4.1.8 4.6 0-.61-.11-1.91 0-2.5.12-.6.54-1.1 1.12-1.33.5-.15 1.02-.19 1.53-.1.52.1.98.4 1.29.83.38.98.6 2 .63 3.05.04-.91.2-1.82.47-2.7.28-.39.68-.67 1.15-.8.55-.1 1.11-.1 1.66 0 .46.15.85.44 1.14.82.35.88.56 1.82.63 2.77 0 .23.12-.65.48-1.24a1.67 1.67 0 1 1 3.17 1.07v3.77c-.06.97-.2 1.94-.4 2.9-.29.85-.7 1.65-1.2 2.38-.8.9-1.48 1.92-1.98 3.02a6.67 6.67 0 0 0 .03 3.2c-.68.07-1.37.07-2.05 0-.65-.1-1.45-1.4-1.67-1.8a.63.63 0 0 0-1.13 0c-.37.64-1.18 1.79-1.75 1.85-1.12.14-3.42 0-5.23 0 0 0 .3-1.66-.39-2.27-.68-.6-1.38-1.3-1.9-1.76l-1.4-1.6Z'/%3E%3Cpath stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.25' d='M6.84 21.83c-.47-.6-1.05-1.82-2.07-3.34-.58-.83-2.01-2.41-2.45-3.23a2.1 2.1 0 0 1-.25-1.67 2.2 2.2 0 0 1 2.39-1.67c.85.18 1.63.6 2.25 1.2.43.41.82.85 1.18 1.32.27.34.33.47.63.85.3.39.5.77.35.2-.11-.83-.31-2.23-.6-3.48-.21-.95-.26-1.1-.46-1.82s-.32-1.32-.54-2.13c-.2-.8-.35-1.62-.46-2.44a4.7 4.7 0 0 1 .43-3.08c.58-.55 1.44-.7 2.17-.37a4.4 4.4 0 0 1 1.57 2.17c.43 1.07.72 2.19.86 3.33.27 1.67.79 4.1.8 4.6 0-.61-.11-1.91 0-2.5.12-.6.54-1.1 1.12-1.33.5-.15 1.02-.19 1.53-.1.52.1.98.4 1.29.83.38.98.6 2 .63 3.05.04-.91.2-1.82.47-2.7.28-.39.68-.67 1.15-.8.55-.1 1.11-.1 1.66 0 .46.15.85.44 1.14.82.35.88.56 1.82.63 2.77 0 .23.12-.65.48-1.24a1.67 1.67 0 1 1 3.17 1.07v3.77c-.06.97-.2 1.94-.4 2.9-.29.85-.7 1.65-1.2 2.38-.8.9-1.48 1.92-1.98 3.02a6.67 6.67 0 0 0 .03 3.2c-.68.07-1.37.07-2.05 0-.65-.1-1.45-1.4-1.67-1.8a.63.63 0 0 0-1.13 0c-.37.64-1.18 1.79-1.75 1.85-1.12.14-3.42 0-5.23 0 0 0 .3-1.66-.39-2.27-.68-.6-1.38-1.3-1.9-1.76l-1.4-1.6Z' clip-rule='evenodd'/%3E%3Cpath fill='%23000' d='M20.65 22.3v-6.24c0-.38-.31-.68-.7-.68-.37 0-.68.3-.68.68v6.23c0 .38.3.68.69.68.38 0 .69-.3.69-.68ZM17.2 22.3l-.04-6.25a.67.67 0 1 0-1.34.01l.04 6.24a.67.67 0 1 0 1.34 0ZM12.37 16.07l.04 6.22c0 .38.3.68.67.68.37 0 .67-.3.67-.68l-.04-6.23c0-.38-.3-.68-.67-.68-.37 0-.67.31-.67.69Z'/%3E%3C/svg%3E"),
            auto;
        --f-cursor-text:
            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='17' fill='none' viewBox='0 0 13 25'%3E%3Cpath fill='%23000' stroke='%23fff' stroke-width='1.75' d='M8 18.48v-4.23h1.27v-3H8V5.8c.2-.44.5-.82.87-1.14.23-.16.52-.32.83-.44a5.4 5.4 0 0 1 1.17-.05l.87.05.05-.87.08-1.27.06-.87-.88-.06c-.7-.04-1.4 0-2.1.14l-.05.01-.06.02c-.7.25-1.29.56-1.82.95L7 2.28l-.03.02c-.16.13-.31.28-.46.42a6.93 6.93 0 0 0-.39-.38l-.03-.03-.03-.02a5.86 5.86 0 0 0-1.85-.97l-.04-.01-.04-.01a8.1 8.1 0 0 0-2.19-.16l-.87.06.06.87.08 1.27.06.88.87-.06c.43-.03.85 0 1.27.08.23.08.5.21.74.4.33.3.63.72.84 1.19v5.42H3.72v3h1.27v4.2c-.21.47-.51.89-.88 1.24-.2.14-.46.28-.75.37-.36.07-.8.1-1.22.06l-.87-.05-.06.87-.08 1.27-.06.88.87.05c.71.05 1.42 0 2.12-.14h.04l.04-.02a5.83 5.83 0 0 0 1.88-.95l.03-.02.03-.03.44-.43c.14.14.28.27.44.4l.02.02.02.01c.55.42 1.14.73 1.76.95l.05.02.06.01c.77.17 1.47.22 2.17.18l.88-.05-.05-.87-.07-1.27-.05-.87-.87.04c-.42.03-.83 0-1.24-.08-.24-.1-.52-.25-.8-.45A3.4 3.4 0 0 1 8 18.48Z'/%3E%3C/svg%3E"),
            auto;
    }

    /* Dark Theme Variables */
    .dark {
        /* Core Colors */
        --bg: oklch(0.145 0 0);
        --fg: oklch(0.985 0 0);
        --border: oklch(1 0 0 / 10%);
        --input: oklch(1 0 0 / 15%);
        --ring: oklch(0.556 0 0);

        /* Semantic Colors */
        --primary: oklch(0.922 0 0);
        --primary-fg: oklch(0.205 0 0);
        --secondary: oklch(0.269 0 0);
        --secondary-fg: oklch(0.985 0 0);
        --accent: oklch(0.269 0 0);
        --accent-fg: oklch(0.985 0 0);

        /* UI Colors */
        --muted: oklch(0.269 0 0);
        --muted-fg: oklch(0.708 0 0);
        --overlay: oklch(0.205 0 0);
        --overlay-fg: oklch(0.985 0 0);
        --navbar: oklch(0.205 0 0);
        --navbar-fg: oklch(0.985 0 0);
        --sidebar: oklch(0.205 0 0);
        --sidebar-fg: oklch(0.985 0 0);

        /* Status Colors */
        --success: oklch(0.596 0.145 163.225);
        --success-fg: oklch(1 0 0);
        --warning: oklch(0.828 0.189 84.429);
        --warning-fg: oklch(0.279 0.077 45.635);
        --danger: oklch(0.577 0.245 27.325);
        --danger-fg: oklch(0.971 0.013 17.38);

        /* Chart Colors */
        --chart-1: oklch(0.488 0.243 264.376);
        --chart-2: oklch(0.696 0.17 162.48);
        --chart-3: oklch(0.769 0.188 70.08);
        --chart-4: oklch(0.627 0.265 303.9);
        --chart-5: oklch(0.645 0.246 16.439);
    }
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--border, currentColor);
    }
    * {
        scrollbar-width: thin;
        scrollbar-color: var(--border) transparent;
    }
    html {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-tap-highlight-color: transparent;
    }
    body {
        background-color: var(--bg);
        color: var(--fg);
    }
    ::-webkit-scrollbar {
        width: 4px;
    }
    ::-webkit-scrollbar-track {
        background: transparent;
    }
    ::-webkit-scrollbar-thumb {
        background: var(--border);
        border-radius: 4px;
    }
}

@media (hover: hover) and (pointer: fine) {
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    input,
    textarea {
        cursor: var(--f-cursor-text) !important;
    }

    a,
    a *,
    select,
    input[type="checkbox"] {
        cursor: var(--f-cursor-pointer) !important;
    }
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--border, currentColor);
    }

    body {
        color: var(--fg);
        background-color: var(--bg);
        cursor: var(--f-cursor-default);
    }
}
.cursor-default {
    cursor: var(--f-cursor-default) !important;
}
.cursor-pointer {
    cursor: var(--f-cursor-pointer) !important;
}

.cursor-pointer {
    cursor: var(--f-cursor-pointer) !important;
}

.cursor-grab {
    cursor: var(--f-cursor-grab);
}

.cursor-grabbing {
    cursor: var(--f-cursor-grabbed);
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.soft-scrollbar::-webkit-scrollbar {
    height: 0.25rem;
    width: 0.25rem;
    cursor: pointer;
}

.soft-scrollbar::-webkit-scrollbar-track {
    cursor: pointer;
    --tw-bg-opacity: 1;
    border-radius: 1rem;
    background-color: var(--muted);
}

.soft-scrollbar::-webkit-scrollbar-thumb {
    cursor: pointer;
    --tw-bg-opacity: 1;
    background-color: var(--border);
}

@theme inline {
    --font-sans:
        "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";

    --font-mono:
        "Geist Mono", "ui-monospace", "SFMono-Regular", "Menlo", "Monaco", "Consolas",
        '"Liberation Mono"', '"Courier New"', "monospace";

    --font-sans--font-feature-settings: "cv02", "cv03", "cv04", "cv11";

    --font-mono--font-feature-settings: "ss02", "zero";

    --color-border: var(--border);

    --color-input: var(--input);

    --color-ring: var(--ring);

    --color-bg: var(--bg);

    --color-fg: var(--fg);

    --color-primary: var(--primary);

    --color-primary-fg: var(--primary-fg);

    --color-primary-subtle: var(--primary-subtle);

    --color-primary-subtle-fg: var(--primary-subtle-fg);

    --color-secondary: var(--secondary);

    --color-secondary-fg: var(--secondary-fg);

    --color-accent: var(--accent);

    --color-accent-fg: var(--accent-fg);

    --color-success: var(--success);

    --color-success-fg: var(--success-fg);

    --color-success-subtle: var(--success-subtle);

    --color-success-subtle-fg: var(--success-subtle-fg);

    --color-danger: var(--danger);

    --color-danger-fg: var(--danger-fg);

    --color-danger-subtle: var(--danger-subtle);

    --color-danger-subtle-fg: var(--danger-subtle-fg);

    --color-warning: var(--warning);

    --color-warning-fg: var(--warning-fg);

    --color-warning-subtle: var(--warning-subtle);

    --color-warning-subtle-fg: var(--warning-subtle-fg);

    --color-info-subtle: var(--info-subtle);

    --color-info-subtle-fg: var(--info-subtle-fg);

    --color-muted: var(--muted);

    --color-muted-fg: var(--muted-fg);

    --color-overlay: var(--overlay);

    --color-overlay-fg: var(--overlay-fg);

    --color-navbar: var(--navbar);

    --color-navbar-fg: var(--navbar-fg);

    --color-sidebar: var(--sidebar);

    --color-sidebar-fg: var(--sidebar-fg);

    --color-sidebar-primary: var(--sidebar-primary);

    --color-sidebar-primary-fg: var(--sidebar-primary-fg);

    --color-sidebar-accent: var(--sidebar-accent);

    --color-sidebar-accent-fg: var(--sidebar-accent-fg);

    --color-sidebar-border: var(--sidebar-border);

    --color-sidebar-ring: var(--sidebar-ring);

    --color-chart-1: var(--chart-1);

    --color-chart-2: var(--chart-2);

    --color-chart-3: var(--chart-3);

    --color-chart-4: var(--chart-4);

    --color-chart-5: var(--chart-5);

    --animate-disclosure-collapsed: disclosure-collapsed 0.2s ease-out;

    --animate-disclosure-expanded: disclosure-expanded 0.2s ease-out;

    --radius-4xl: var(--radius-4xl);

    --radius-3xl: var(--radius-3xl);

    --radius-2xl: var(--radius-2xl);

    --radius-xs: var(--radius-xs);

    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

    --color-sidebar-foreground: var(--sidebar-foreground);

    --color-destructive: var(--destructive);

    --color-accent-foreground: var(--accent-foreground);

    --color-muted-foreground: var(--muted-foreground);

    --color-secondary-foreground: var(--secondary-foreground);

    --color-primary-foreground: var(--primary-foreground);

    --color-popover-foreground: var(--popover-foreground);

    --color-popover: var(--popover);

    --color-card-foreground: var(--card-foreground);

    --color-card: var(--card);

    --color-foreground: var(--foreground);

    --color-background: var(--background);

    --radius-sm: calc(var(--radius) - 4px);

    --radius-md: calc(var(--radius) - 2px);

    --radius-lg: var(--radius);

    --radius-xl: calc(var(--radius) + 4px);
    @keyframes disclosure-expanded {
        from {
            height: 0;
        }
        to {
            height: var(--disclosure-height);
        }
    }
    @keyframes disclosure-collapsed {
        from {
            height: var(--disclosure-height);
        }
        to {
            height: 0;
        }
    }
}

:root {
    --radius: 0.625rem;

    --background: oklch(1 0 0);

    --foreground: oklch(0.145 0 0);

    --card: oklch(1 0 0);

    --card-foreground: oklch(0.145 0 0);

    --popover: oklch(1 0 0);

    --popover-foreground: oklch(0.145 0 0);

    --primary: oklch(0.546 0.245 262.881);

    --primary-foreground: oklch(0.985 0 0);

    --secondary: oklch(0.92 0.004 286.32);

    --secondary-foreground: oklch(0.205 0 0);

    --muted: oklch(0.967 0.001 286.375);

    --muted-foreground: oklch(0.556 0 0);

    --accent: oklch(0.92 0.004 286.32);

    --accent-foreground: oklch(0.205 0 0);

    --destructive: oklch(0.577 0.245 27.325);

    --border: oklch(0.911 0.006 286.286);

    --input: oklch(0.871 0.006 286.286);

    --ring: oklch(0.546 0.245 262.881);

    --chart-1: oklch(0.546 0.245 262.881);

    --chart-2: oklch(0.623 0.214 259.815);

    --chart-3: oklch(0.707 0.165 254.624);

    --chart-4: oklch(0.809 0.105 251.813);

    --chart-5: oklch(0.882 0.059 254.128);

    --sidebar: oklch(0.985 0 0);

    --sidebar-foreground: oklch(0.145 0 0);

    --sidebar-primary: oklch(0.7 0.0073 277.11);

    --sidebar-primary-foreground: oklch(0.985 0 0);

    --sidebar-accent: oklch(0.92 0.004 286.32);

    --sidebar-accent-foreground: oklch(0.205 0 0);

    --sidebar-border: oklch(0.901 0.006 286.286);

    --sidebar-ring: oklch(0.546 0.245 262.881);

    --bg: oklch(1 0 0);

    --fg: oklch(0.21 0.006 285.885);

    --primary-fg: oklch(1 0 0);

    --primary-subtle: oklch(0.623 0.214 259.815 / 0.15);

    --primary-subtle-fg: oklch(0.488 0.243 264.376);

    --secondary-fg: oklch(0.141 0.005 285.823);

    --overlay: oklch(1 0 0);

    --overlay-fg: oklch(0.141 0.005 285.823);

    --accent-fg: oklch(0.141 0.005 285.823);

    --muted-fg: oklch(0.552 0.016 285.938);

    --success: oklch(0.596 0.145 163.225);

    --success-fg: oklch(1 0 0);

    --success-subtle: oklch(0.696 0.17 162.48 / 0.15);

    --success-subtle-fg: oklch(0.508 0.118 165.612);

    --info-subtle: oklch(0.685 0.169 237.323 / 0.15);

    --info-subtle-fg: oklch(0.5 0.134 242.749);

    --warning: oklch(0.828 0.189 84.429);

    --warning-fg: oklch(0.279 0.077 45.635);

    --warning-subtle: oklch(0.828 0.189 84.429 / 0.2);

    --warning-subtle-fg: oklch(0.555 0.163 48.998);

    --danger: oklch(0.577 0.245 27.325);

    --danger-fg: oklch(0.971 0.013 17.38);

    --danger-subtle: oklch(0.637 0.237 25.331 / 0.15);

    --danger-subtle-fg: oklch(0.505 0.213 27.518);

    --navbar: oklch(0.995 0 0);

    --navbar-fg: oklch(0.141 0.005 285.823);

    --sidebar-fg: oklch(0.141 0.005 285.823);

    --sidebar-primary-fg: oklch(1 0 0);

    --sidebar-accent-fg: oklch(0.141 0.005 285.823);

    --radius-lg: 0.5rem;

    --radius-xs: calc(var(--radius-lg) * 0.5);

    --radius-sm: calc(var(--radius-lg) * 0.75);

    --radius-md: calc(var(--radius-lg) * 0.9);

    --radius-xl: calc(var(--radius-lg) * 1.25);

    --radius-2xl: calc(var(--radius-lg) * 1.5);

    --radius-3xl: calc(var(--radius-lg) * 2);

    --radius-4xl: calc(var(--radius-lg) * 3);
}

.dark {
    --background: oklch(0.145 0 0);

    --foreground: oklch(0.985 0 0);

    --card: oklch(0.205 0 0);

    --card-foreground: oklch(0.985 0 0);

    --popover: oklch(0.205 0 0);

    --popover-foreground: oklch(0.985 0 0);

    --primary: oklch(0.546 0.245 262.881);

    --primary-foreground: oklch(0.205 0 0);

    --secondary: oklch(0.244 0.006 286.033);

    --secondary-foreground: oklch(0.985 0 0);

    --muted: oklch(0.21 0.006 285.885);

    --muted-foreground: oklch(0.708 0 0);

    --accent: oklch(0.274 0.006 286.033);

    --accent-foreground: oklch(0.985 0 0);

    --destructive: oklch(0.704 0.191 22.216);

    --border: oklch(0.27 0.013 285.805);

    --input: oklch(0.32 0.013 285.805);

    --ring: oklch(0.546 0.245 262.881);

    --chart-1: oklch(0.488 0.243 264.376);

    --chart-2: oklch(0.623 0.214 259.815);

    --chart-3: oklch(0.707 0.165 254.624);

    --chart-4: oklch(0.809 0.105 251.813);

    --chart-5: oklch(0.882 0.059 254.128);

    --sidebar: oklch(0.21 0.006 285.885);

    --sidebar-foreground: oklch(0.985 0 0);

    --sidebar-primary: oklch(0.7 0.0073 277.11);

    --sidebar-primary-foreground: oklch(0.985 0 0);

    --sidebar-accent: oklch(0.274 0.006 286.033);

    --sidebar-accent-foreground: oklch(0.985 0 0);

    --sidebar-border: oklch(0.274 0.006 286.033);

    --sidebar-ring: oklch(0.546 0.245 262.881);

    --bg: oklch(0.181 0.005 285.823);

    --fg: oklch(0.985 0 0);

    --primary-fg: oklch(1 0 0);

    --primary-subtle: oklch(0.623 0.214 259.815 / 0.1);

    --primary-subtle-fg: oklch(0.707 0.165 254.624);

    --secondary-fg: oklch(0.985 0 0);

    --overlay: oklch(0.21 0.006 285.885);

    --overlay-fg: oklch(0.985 0 0);

    --accent-fg: oklch(0.985 0 0);

    --muted-fg: oklch(0.705 0.015 286.067);

    --success: oklch(0.596 0.145 163.225);

    --success-fg: oklch(1 0 0);

    --success-subtle: oklch(0.696 0.17 162.48 / 0.1);

    --success-subtle-fg: oklch(0.765 0.177 163.223);

    --info-subtle: oklch(0.685 0.169 237.323 / 0.1);

    --info-subtle-fg: oklch(0.828 0.111 230.318);

    --warning: oklch(0.828 0.189 84.429);

    --warning-fg: oklch(0.279 0.077 45.635);

    --warning-subtle: oklch(0.828 0.189 84.429 / 0.1);

    --warning-subtle-fg: oklch(0.828 0.189 84.429);

    --danger: oklch(0.577 0.245 27.325);

    --danger-fg: oklch(0.971 0.013 17.38);

    --danger-subtle: oklch(0.637 0.237 25.331 / 0.1);

    --danger-subtle-fg: oklch(0.704 0.191 22.216);

    --navbar: oklch(0.19 0.006 285.885);

    --navbar-fg: oklch(0.985 0 0);

    --sidebar-fg: oklch(0.985 0 0);

    --sidebar-primary-fg: oklch(1 0 0);

    --sidebar-accent-fg: oklch(0.985 0 0);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}

@utility touch-target {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        min-height: 44px;
        min-width: 44px;
        z-index: 9999;
    }
}
